*{
    margin: 0px;
    padding: 0px;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    font-family: "Rubik",sans-serif;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
}
.logo img{
    margin-left: -55px;
    height: 200px;
    width: 220px;
    user-select: none;
}
.top{
    position: relative;
    top:0;
    right: 0;
    z-index: 1000;
    padding: 5px 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.nav{
    display: flex;
}
.nav a{
    padding: 35px;
    color: #1f76b4;
    font-size:large;
    font-weight: 450;
    transition: all .42s ease;
    user-select: none;
}
.nav a:hover{
    color:#bdbdbd;
    font-size: 22px;
}
.nav .active{
    color:#29AB87;
    font-size: 20px;
}
.navicon a{
    padding: 10px;
    color:#1f76b4;
    font-size: large;
    transition: all.42s ease;
}
.navicon a:hover{
    color: #29AB87;
    font-weight: 300;
    font-size: 27px;
}
.bx.bx-menu{
    padding-left:15px;
    font-size: large;
    font-weight: 400;
    color: #1f76b4;
    transition: all.42s ease;
    user-select: none;
}
.bx.bx-menu:hover{
    font-size: 27px;
    color:#29AB87;
}
#menu{
    z-index: 10001;
    cursor: pointer;
}
section{
    padding: 5% 10%;
}
.mhome{
    width: 100%;
    height: 100vh;
    background-image: url(/img/man-flying-holding-shopping-cart-260nw-2061872129_upscayl_7x_realesrgan-x4plus-anime.png);
    background-position:left;
    background-size:contain;
    background-repeat: no-repeat;
    animation-name: sw;
    animation-duration: 10s;
    animation-iteration-count: 1;
}
.mtext h1{
    font-size: xx-large;
    color:#29AB87;
}
.mtext h3 b{
    font-size: larger;
    color:rgb(208, 158, 82);
}
.mbtn{
    padding: 8px 5px;
    background-color:#29AB87;
    width:128px;
    border:2px solid #29AB87;
    border-radius: 8px;
    margin: 8px;
    margin-left: 1115px;
    text-align: center;
    transition: all.42s ease;
}
.mbtn{
    font-size: large;
    color:#ffffff;
}
.mbtn:hover{
    background-color: white;
    color:#29AB87;
    font-weight: 600;
}
@keyframes sw{
    50%{background-position: right;}
}
.sebx{
    display: flex;
    position: absolute;
    right: 205px;
    border: 1px solid #29AB87;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-top: 5px;
    padding-right: 5px;
    border-radius: 6px;
    opacity: 0;
    transition: all 0.42s ease;
}
.sebx input{
    border: none;
    font-size: 0.77em;
    outline: none;
}
.sebx:hover{
    opacity: 100;
}
